@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  :root {
    /* Custom gradients */
    --gradient-strip-1: linear-gradient(90deg, #42B4BC 20%, #AD216F 100%);
    --gradient-strip-2: linear-gradient(90deg, #AD216F 40%, #42B4BC 100%);
  }
}

@layer utilities {
  .gradient-strip-1 {
    background: var(--gradient-strip-1);
  }

  .gradient-strip-2 {
    background: var(--gradient-strip-2);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-hero {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 4s linear infinite;
  -webkit-animation: marquee 4s linear infinite;
}

.animate-marquee-hero {
  animation: marquee-hero 5s linear infinite;
  -webkit-animation: marquee-hero 5s linear infinite;
}